<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.specialday.Mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.fy.specialday.Entity.SysRole">
        <!--@mbg.generated-->
        <id column="id" jdbcType="DECIMAL" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, description, createTime, updateTime
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT r.*
        FROM sys_role r LEFT JOIN sys_user_role ur ON r.id=ur.roleId LEFT JOIN sys_user u on ur.userId=u.id
        WHERE u.id=#{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        <!--@mbg.generated-->
        delete from sys_role
        where id = #{id,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.fy.specialday.Entity.SysRole">
        <!--@mbg.generated-->
        insert into sys_role (id, `name`, description,
        createTime, updateTime)
        values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.fy.specialday.Entity.SysRole">
        <!--@mbg.generated-->
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fy.specialday.Entity.SysRole">
        <!--@mbg.generated-->
        update sys_role
        <set>
            <if test="name != null and name != ''">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fy.specialday.Entity.SysRole">
        <!--@mbg.generated-->
        update sys_role
        set `name` = #{name,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        createTime = #{createtime,jdbcType=TIMESTAMP},
        updateTime = #{updatetime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=DECIMAL}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-09-22-->
    <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where 1=1
        <if test="id != null">
            and id=#{id,jdbcType=DECIMAL}
        </if>
        <if test="name != null and name != ''">
            and "name"=#{name,jdbcType=VARCHAR}
        </if>
        <if test="description != null and description != ''">
            and description=#{description,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null">
            and createTime=#{createtime,jdbcType=TIMESTAMP}
        </if>
        <if test="updatetime != null">
            and updateTime=#{updatetime,jdbcType=TIMESTAMP}
        </if>
    </select>
</mapper>